

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html
body{
height: 100%;
}

body{
    background-color: palegoldenrod;
    min-height: 100;
    }


/* INVITATION LAYOUT */

    .intivte-container{
        padding: 20px;
    }

    .section {
        padding-bottom: 30px;
    }

    .light{
        color: lightgray;
    }

    .dark{
        font-weight: ;
    }
    .small{
        font-size: 12px;
    }
    .big{
        font: 24px;
    }
    

