body {
    background-color: olive;
}

h1 {
    hover

    color: lemonchiffon
    ;}

p {
    color: rgb(178, 178, 140);
}
.wrapper li {
    color: orange;
}

.wrapper > p {
    color: darkred;
    font-style: italic;
}
