* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'georgia', sans-serif;
    font-weight: 2000px;
    line-height: 4;
    background-color: #c8ff00;
    color: #4dff00;
  

  
}

/* Header Styling */
header {
    text-align: center;
    padding: 20px;
    background-color: #01ff8d;
    margin-bottom: 20px;
}

header h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 300; /* Bold Roboto */
    color: #ffea96;
    margin-bottom: 10px;
}

header h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300; /* Light Roboto */
    color: #f2ff00;
    margin-bottom: 10px;
}

/* Section Styling */
section {

    text-align: center;

    background-color: rgb(61, 255, 27);
 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700; /* Bold Roboto */
    color: #fff89b;

}

section h3 {
    text-align: center;

    font-size: 1.2rem;
    font-weight: 400; /* Regular Roboto */
    color: #83b3a1;
    margin-bottom: 10px;
}

section p {

    text-align: center;
    font-size: 1rem;
    font-weight: 400; /* Regular Roboto */
    color: #ff9500;
    line-height: 1.8;
}

/* Highlight strong elements */
strong {
    text-align: center;
    color: #71aa1b;
    font-weight: 700; /* Bold Roboto */
}

/* Emphasize important points */
em {
    font-style: italic;
    color: #16a085;
}

/* Footer Styling */
footer {
    padding: 10px;
    text-align: center;
    background-color: #96c9ff;
    margin-top: 20px;
    font-size: 0.9rem;
    font-weight: 300; /* Light Roboto */
    color: #acfff0;
}

footer a {
    color: #48b6ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }
    
    header h3 {
        font-size: 1.2rem;
    }

    section h2 {
        font-size: 1.8rem;
    }

    section h3 {
        font-size: 1rem;
    }
}